/******************************************************************************************************************** 
*
*	HEADER  
*
*********************************************************************************************************************/
#site-brand{
	header{
		min-height: 80px;
		background-color: @white;
		.navbar-header{
			border-bottom: 1px solid fade(@black, 30%);
			#brand{
				margin-top: 30px;
				margin-bottom: 20px;
				padding: 0;
				float: left;
				.navbar-brand{
					display: block;
					font-family: @brand-font;
					font-weight: bold;
					padding: 5px 15px;
					background-color: @primary;
					color: @white;
					font-weight: bolder;
					text-decoration: none;
				}
			}
			.navbar-toggle{
				float: right;
				background-color: transparent;
				border: none;
				margin-top: 38px;
				width: 48px;
				height: 40px;
				margin-right: 5px;
				position: relative;
				overflow: hidden;
				&:focus{
					box-shadow: none;
					outline: none;
				}
				.icon-bar{
					background-color: @light-border-color;
					height: 3px;
					width: 35px;
					display: block;
					position: absolute;
					.border-radius(@radius: 50px);
					&.one{
						top: 10px;
						&.active{
						top: 20px !important;
						.transform(rotate(-135deg));
						.transition(all 0.2s ease-in);
						}
					}
					&.two{
						top: 20px;
						&.active{
						display: none !important;
						left: -400px;
						background-color: @white;
						.transition(all 0.2s ease-in);
						}
					}
					&.three{
						top: 30px;
						&.active{
						top: 20px !important;
						.transform(rotate(135deg));
						.transition(all 0.2s ease-in);
						}
					}
				}
			}
		}
	}
}
/******************************************************************************************************************** 
*
*	CONTENT && POST && PAGES  
*
*********************************************************************************************************************/
/******************************************************************************************************************** 
*
*	FOOTER  
*
*********************************************************************************************************************/
#footer{
	height: 30px;
	width: 100%;
	font-size: 11px;
	border-top: 1px solid fade(@black, 30%);
	position: absolute;
	bottom: 0;
	p.site-info{
		margin: .578em 0 0 0;
		padding: 0;
	}
}