/******************************************************************************************************************** 
*
*	small than 480px  
*
*********************************************************************************************************************/
@media all and(max-width:480px){
	.container-fluid{
		margin-left: 0px;
		margin-right: 0px;
	}
}