nav#slide-menu {
	background-color: fade(@black, 80%);
	position: fixed;
	top: 0;
	right: -240px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 240px;
	height: 100%;
	min-height: 100%;

	.transition(all .2s ease);

	> ul {
		display: block;
		margin: 40px;
		padding: 0;
		list-style: none;
		opacity: 0.5;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		li {
			color: darken(@white, 50%);
			font-weight: bold;
			padding: 6px 0;
			cursor: pointer;
			text-transform: capitalize;

			&:hover { color: @white; }
		}

		li:before {
			font-family: "ico";
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			width: 1em;
			color: @white;
			margin-right: 12px;
			text-align: center;
			font-variant: normal;
			font-size: 0.75em;
			text-transform: none;
			line-height: 1em;
		}
		li.timeline:before { content: '\e805'; }
		li.events:before { content: '\e802'; }
		li.calendar:before { content: '\e800'; }
		li.settings:before { content: '\e803'; }
		li.logout:before { content: '\e804'; }
	}
}
body.menu-active nav#slide-menu { right: 0px; }
body.menu-active nav#slide-menu ul { right: 0px; opacity: 1; }
/*
  Content
*/
div#wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.transition(all .2s ease);
}
body.menu-active div#wrap { left: -240px; }
body.menu-active div#wrap .menu-trigger { left: 0; }