/******************************************************************************************************************** 
*
*	GLOBAL STYLE  
*
*********************************************************************************************************************/
html{
	min-height: 100%;
	position: relative;
}
body{
	margin-bottom: 30px;
	padding: 0;
	background: @white;
	color: @baseColor;
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: inherit;
}
.container-fluid{
	margin-left: 40px;
	margin-right: 40px;
}
section, header, aside, nav, article, canvas, hgroup{
	display: block;
}
ul, ol, dl, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
/******************************************************************************************************************** 
*
*	HELPING CLASSES  
*
*********************************************************************************************************************/
.margin-b{
	margin-bottom: @margin-space;
}
.text-indent{
	text-indent: -9999px;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}