@import 'icons.less';
///
#menu-posts-people{
	.wp-has-submenu{
		.wp-menu-image.dashicons-before.dashicons-admin-post{
			&::before{
			font-family: "titan-mini" !important;
			  content: attr(data-icon);
			  font-style: normal !important;
			  font-weight: normal !important;
			  font-variant: normal !important;
			  text-transform: none !important;
			  speak: none;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  font-size: 18px;
			  content: 'b' !important;
			}
		}
	}
}