.home{
	.breadcrumbs-wrap{
		margin-top: 0;
	}
}
.breadcrumbs-wrap{
	border-bottom: 10px solid @white;
	background-color: @white;
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 99;
	top: 79px;
	padding-top: 14px;
	.transition(background-color .3s ease);
	.transition(left .3s ease);
	#crumbs{
		border-bottom: 1px solid @border-color;
		height: 30px;
		font-weight: bold;
		font-size: 0.71875em;
		a{
			color: @white;
			padding: 5px 7px 5px 20px;
			background-color: darken(@white, 30%);
			margin-right: 0;
			margin-left: -5px;
			position: relative;
			border: 1px solid transparent;
			.transition(background-color .3s);
			///hover effect
			&:hover{
				background-color: @baseColor;
				.transition(background-color .3s);
				&::after{
					border-left-color: @baseColor;
					.transition(all .3s);
				}
				&::before{
					.transition(all .3s);
				}
			}
			//hover ends
			&:first-child{
				background-color: darken(@white, 40%);
				background-image: url("@{images}home.svg");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50%;
				margin-left: 0;
				display: inline;
				padding-left: 2px;
				padding-right: 0px;
				min-width: 30px !important;
				overflow: hidden;
				color: fade(@white, 0%);
				text-indent: -9999px !important;
				///hover effect
				&:hover{
					background-color: @baseColor;
					.transition(background-color .3s);
					&::after{
						border-left-color: @baseColor;
					}
					&::before{
						
					}
				}
				//hover ends
				&::after{
					border-left-color: darken(@white, 40%);
					margin-left: -1px;
					left: 89%;
				}
				&::before{
					margin-left: -1px;
					left: 88% !important; 
				}
			}
			//create the arrow
			&::after, &::before{
				left: 98%;
				top: 50%;
				position: absolute;
				content: " ";
				border: 1px solid transparent;
				height: 0;
				width: 0;
				z-index: 99;
				.transition(all .3s);
			}
			&::after{
				border-color: rgba(136, 183, 213, 0);
				border-left-color: darken(@white, 30%);
				border-width: 12px;
				margin-top: -12px;
				.transition(all .3s);
			}
			&::before{
				border-color: rgba(245, 245, 245, 0);
				border-left-color: @white;
				border-width: 14px;
				margin-top: -14px;
				.transition(all .3s);
			}
		}
		.current{
			color: @baseColor;
			background-color: darken(@white, 10%);
			border: 1px solid transparent;
			padding: 5px 7px;
			padding-left: 20px;
			margin-left: -5px;
			position: relative;
			&::after, &::before{
				left: 100%;
				top: 50%;
				position: absolute;
				content: " ";
				border: 1px solid transparent;
				height: 0;
				width: 0;
				z-index: 99;
			}
			&::after{
				border-color: rgba(136, 183, 213, 0);
				border-left-color: darken(@white, 10%);
				border-width: 12px;
				margin-top: -12px;
			}
		}
	}
}