/******************************************************************************************************************** 
*
*	HOME - VIDEO  
*
*********************************************************************************************************************/

#left-container {
	.flexslider{
		.flex-control-nav{
			bottom: -3px;
			li{
				margin: 0 3px;
			}
		}
		h2{
			padding-top: 16.5%;
			background-color: fade(@black, 15%);
			.transition(background-color .3s);
			&:hover{
				background-color: fade(@black, 35%);
				.transition(background-color .3s);
			}
			a{
				line-height: 1;
				.arrow{
					background-color: transparent;
					padding-left: 15px;
					svg{
						margin-bottom: -10px;
						path{
							fill: transparent;
							.transition(fill .3s);
						}
					}
				}
				&:hover{
					.arrow{
						svg{
							path{
								fill: @white;
								.transition(fill .3s);
							}
						}
					}
				}	
			}
		}
	}//flex slider
	
}

#right-container {
	

}

.tile {
	margin: 0 0 10px 0;
	
	p {
		margin: 0;
	}
	
	.tile-link {
		margin: 0;
		position: relative;
		float: left;
		width: 100%;
		.overlay-container {
			position: relative;
			
			.tile-title {
				position: absolute;
				top: 43%;
				z-index: 1;
				width: 100%;
				text-align: center;
				margin: 0;
				padding: 0;
				font-size: 180%;
				color: @white;
				.transition(display .3s);
				&:hover + .tile-overlay {
					.horizontal-gradient(fade(@black, 20%), fade(@black, 0%));
					.transition(background-color .3s ease);
				}
			}

			.tile-overlay{
				//background-color: fade(@primary, 30%);
				width: 100%;
				height: 100%;
				position: absolute;
				.transition(background-color .3s ease);
				&:hover{
					.horizontal-gradient(fade(@black, 35%), fade(@black, 0%));
					//border: 10px solid fade(@white, 90%);
					.transition(all .3s ease);
				}
			}		
		}
	}
}

.video-tile {
	margin: 0;
	//from vimeo
	iframe{
		#player.player{
			title{
				display: none !important;
			}
		}
	}//vimeo
}
