@charset "UTF-8";

@font-face {
  font-family: "titan-mini";
  src:url("fonts/titan-mini.eot");
  src:url("fonts/titan-mini.eot?#iefix") format("embedded-opentype"),
    url("fonts/titan-mini.woff") format("woff"),
    url("fonts/titan-mini.ttf") format("truetype"),
    url("fonts/titan-mini.svg#titan-mini") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "titan-mini" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "titan-mini" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-career:before {
  content: "b";
}
.icon-close:before {
  content: "g";
}
.icon-img:before {
  content: "a";
}
.icon-error:before {
  content: "c";
}
.icon-ok:before {
  content: "d";
}
.icon-play:before {
  content: "e";
}
.icon-truck:before {
  content: "i";
}
.icon-market:before {
  content: "j";
}
.icon-office:before {
  content: "k";
}
.icon-fax:before {
  content: "l";
}
.icon-star:before {
  content: "m";
}
.icon-specs:before {
  content: "n";
}
.icon-paper:before {
  content: "o";
}
.icon-contact-flash:before {
  content: "p";
}
.icon-contact:before {
  content: "q";
}
.icon-speaker:before {
  content: "r";
}
.icon-download:before {
  content: "s";
}
.icon-brand:before {
  content: "t";
}
.icon-social:before {
  content: "u";
}
.icon-social-1:before {
  content: "v";
}
.icon-resources:before {
  content: "w";
}
.icon-search:before {
  content: "x";
}
.icon-phone:before {
  content: "f";
}
.icon-plane:before {
  content: "h";
}
.icon-media:before {
  content: "y";
}
