/******************************************************************************************************************** 
*
*	HEADER  
*
*********************************************************************************************************************/
#site-brand{
	//margin-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: @white;
	//border-bottom: 10px solid @white;
	z-index: 999;
	.transition(all .3s ease);
	header{
	    max-height: 80px;
		background-color: @white;
		.navbar-header{
			border-bottom: 1px solid @border-color;
			background-color: @white;
			margin-bottom: 0;
			#brand{
				margin-top: 27px;
				margin-bottom: 6px;
				padding: 0;
				float: left;
				font-size: 1.121em;
				overflow: hidden;
				.navbar-brand{
					text-indent: -9999px;
					img{
						display: block;
					}
					svg{

                      path{
                        .transition(fill .5s);
                      }
						&:hover{
                          .transition(fill .5s);
							path{
							fill: darken(@white, 50%);
							.transition(fill .5s);
							}
						}
					}
				}
			}
			.search{
				display: inline;
				margin-right: .5em;
				float: right;
				margin-top: 38px;
			}
			.navbar-fixed-top{
				position: fixed;
				top: 0;
			}
			.navbar-toggle{
				float: right !important;
				background-color: transparent;
				border: none;
				margin-top: 27px;
				width: 30px;
				height: 40px;
				margin-right: 0px;
				padding-right: 0;
				//margin-left: 10px;
				position: relative;
				overflow: hidden;
				&:focus{
					box-shadow: none;
					outline: none;
				}
				.icon-bar{
					background-color: @extra-light-grey;
					height: 3px;
					width: 25px;
					display: block;
					position: absolute;
					margin-right: 0;
					clear: right;
					right: 0;
					.border-radius(@radius: 100px);
					&.one{
						top: 13px;
					}
					&.two{
						top: 21px;
					}
					&.three{
						top: 29px;
					}
				}
			}
		}
	}
}
#aww.award{
	max-width: 90px;
	position: absolute;
	z-index: 99;
	right: 20px;
	top: 20px;
	img.awww{
		max-width: 90px !important;
		height: auto;
		color: @white;
	}
}
/******************************************************************************************************************** 
*
*	HOME SLIDER  
*
*********************************************************************************************************************/
#slider{
	overflow: hidden !important;
	position: relative;
	margin: 0 0 10px;
	
	.tp-banner.revslider-initialised.tp-simpleresponsive, .flexslider{
		overflow: hidden;
	}
	.tp-banner, .flexslider{
		max-width: 100%;
		overflow: hidden;
		position: relative;
		ul, .slides{
			overflow: hidden !important;
			margin: 0;
			position: relative;
			h2, h1, .tp-caption{
				font-size: 8.6em;
				font-size: 10.6vw;
				max-width: 860px;
				line-height: .6765;
				text-transform: lowercase;
				display: block;
				position: absolute;
				left: 3% !important;
				bottom: 2%;
				a{
					color: @white;
					padding: 0;
					display: inline-block;
					text-decoration: none;
					position: relative;
					line-height: 1;
					.transition(color 3s);
					&:hover{
						.arrow{
						svg{
							.transition(fill .5s);
					  		path{
								fill: @white;
								.transition(fill .5s);
							}
						}
						}
					}
					.arrow{
						display: inline-block;
						margin-bottom: -10px;
						padding-left: 15px;
						line-height: 90px;
						padding-left: 18px;
						svg{
							height: 85px;
							width: 85px;
							margin: 0 0 -10px 0;
							path{
								fill: transparent;
								.transition(fill .5s);
                      		}
						}
					}
				}
			}
			li{
				margin: 0px;
				padding: 0;
			}
		}
	}	
}
.page, .hentry, .tile{
	.tile-link{
		&:hover{
			.tile-title{
				display: block;
				color: @white;
				.transition(all .3s);
			}
		}
		.tile-title{
			display: none;
			color: transparent;
			.transition(all .3s);
		}
	}
}
/******************************************************************************************************************** 
*
*	CONTENT && POST && PAGES  
*
*********************************************************************************************************************/
//people
#people, #material, .page-template-people-city{
	.person, .material{
		margin-bottom: 10px;
		vertical-align: middle;
		display: block;
		overflow: hidden;
		img{display: block;clear: both;vertical-align: top;}
		.person-inner{overflow: hidden;position: relative;}
		a{
			display: block;color: @white;
			.transition(all .3s ease);
			.person-info{
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				vertical-align: middle;
				line-height: 100%;
				padding: 10px;
				.transition(all .3s ease);
				.name{
					height: 100%;
					vertical-align: middle;
					padding-top:40%;
					display: none;
					text-transform: lowercase;
					margin: 0;
					text-align: center;
					color: @white;
					font-size: 1.434em;
					.transition(all .3s ease);
				}
				.position{
					display: block;
					margin-top: 12px;
					padding-top: 9px;
					font-size: 13px;
					line-height: 1;
					border-top: 1px solid @white;
					text-transform: none;
					.transition(all .3s ease);
				}
			}
			//hover over the a tag
			&:hover{
				*{
					.transition(all .3s ease);
				}
				.person-info{
					background-color: fade(@black, 55%);
				}
				.position, .name{
					display: block;
				}
			}
		}//end of a tag
	}
}
.page{
	.page-content{
		font-size: .8456em;
		line-height: 1.2765em;
		padding: .5em 0;
		text-align: left;
		color: darken(@white, 40%);
		.title{
			color: fade(@black, 60%);
			margin: 0;
			padding-bottom: 40px;
			border-bottom: 1px solid @border-color;
		}
		.entry{
			h2{
				color: @extra-light-grey;
				margin: 0;
				padding: 0 0px;
				.transition(color .3s);
				&:hover{
					color: @baseColor;
					.transition(color .3s);
				}
			}
			.bio{
				background-color: fade(@light-bg, 50%);
				padding: 10px;
			}
		}
	}
}
//pepople
#people{
	.plus{
		position: absolute;
		z-index: 99;
		right: 10px;
		bottom: 10px;
		display: none;
		.transition(all .3s);
	}
	#plus{
		stroke: red;
		display: none;
		.transition(all .3s);
	}
	a:hover{
		.plus{
			display: block;
			.transition(all .3s);
		}
		#plus{
			display: block;
			.transition(all .3s);
		}
	}
}
//offices
.office-wrap{
	border-bottom: 1px solid @border-color;
	font-size: 12px;
	a{
		color: @baseColor;
	}
	ul{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	h2, h3, h4{
		margin: 0;
		padding: 0;
	}
	li{
		float: left;
		display: table;
		height: 60px;
		line-height: 60px;
		vertical-align: middle;
		padding: 0 0;
		vertical-align: middle;
		font-size: 11px;
		&::before{
			margin-right: .5em;
		}
		p{
			vertical-align: middle;
		}
	}
	.city{
		font-size: 16px;
	}
	.address{
		p{
			display: table-cell;
			line-height: 1.3;
		}
	}
	.phone-num{
		vertical-align: middle !important;
		.icon-phone{
			font-size: 1.8em;
			margin-top: -10px;
			line-height: 60px;
			vertical-align: middle;
			&::before{
				top: -10px;
			}
		}
	}
	.fax-num{
		&::before{
			font-size: 1.8em;
			vertical-align: middle;
		}
	}
	.contact{
		font-size: 1.8em;
	}
}
/////////////////////SPECS PAGES

#specs{
	border-bottom: none;
	li, .spec-file{
		border-bottom: 1px solid @border-color;
		padding-right: 20px;
		position: relative;
		a{
			height: 40px;
			display: block;
			vertical-align: middle;
			line-height: 40px;
			color: @light-text;
			font-size: 12px;
			font-weight: bold;
			.transition(color .3s);
			&:hover{
				color: darken(@light-text, 15%);
				.transition(color .3s);
			}
		
		}
		.icon{
			float: right;
			font-size: 22px;
			position: absolute;
			right: 10px;
			top: 8px;
		}
	}
}
.sub-nav{
	ul{
		li{
			&.page_item_has_children{
				> a{
					position: relative;
					display: block;
					&::after{
						content: '+';
						position: absolute;
						right: 10px;
						font-size: 24px;
						font-weight: 400;
					}
				}
			}
			.children{
				padding-top: 10px;
			}
		}
	}
}
////////////////////////
//form //contact
.wpcf7-form{
	position: relative;
	p{
		margin: 0;
	}
	input, textarea{
		width: 100%;
		resize: none;
		border: none;
		.border-radius(0);
		&::-moz-placeholder{
			  font-weight: bold;
		}
		&::-webkit-placeholder{
		  font-weight: bold;
	  }
		&:focus{
			border-color: none;box-shadow: none;
			outline: none;
		}
	}
	textarea{
		height: 478px;
		padding-top: 10px;
	}
	input{
		height: 40px;
		border-bottom: 1px solid @border-color;
		&[type="submit"]{
			color: @white;
			border: none;
			background-color: @primary;
		}
	}
	///validation add ons
.your-name, .your-subject, .your-email{
	&.ok{
		position: relative;
		display: block;
			&::after{
			  font-family: "titan-mini" !important;
			  font-style: normal !important;
			  font-weight: normal !important;
			  font-variant: normal !important;
			  font-size: 22px;
			  text-transform: none !important;
			  speak: none;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  
			  content: 'd';
			  
			  width: 30px; height: 40px;
			  line-height: 40px;
			  vertical-align: middle;
			  z-index: 99;
			  position: absolute;
			  right: 0px;
			  color: green;
			}
	}
}
	.your-name, .your-subject, .your-email, .your-message{
		position: relative;
		display: block;
		.wpcf7-not-valid-tip{
			position: absolute;
			z-index: 99;
			top: 7px;
			right: 10px;
			//icon font  
			&::after{
			  font-family: "titan-mini" !important;
			  font-style: normal !important;
			  font-weight: normal !important;
			  font-variant: normal !important;
			  font-size: 22px;
			  text-transform: none !important;
			  speak: none;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  
			  content: 'c';
			}
		}
	}
	.wpcf7-validation-errors{
		background-color: @yellow;
		color: @black;
		font-weight: bold;
		text-align: center;
		position: absolute;
		top: 86.456%;
		width: 100%;
		margin: 0;
	}
	///////
}
//FAQS
.faqs{
	border-bottom: 1px solid @border-color;
	margin-bottom: 10px;
	.faqs-title{
		margin: 0 0 10px 0;
		font-size: 14px;
		padding-right: 20px;
		position: relative;
		cursor: pointer;
		&:focus{
			outline: 0;
			-moz-outline: 0;
		}
		//hover title
		&.ui-state-active{
			&::after{
				background-position-x: -10px;
			}
		}
		//after content
		&::after{
			width: 10px;
			display: inline-block;
			height: 10px;
			content: '';
			background-image: url('@{images}plus-minus.png');
			background-repeat: no-repeat;
			position: absolute; right: 10px; bottom: 5px;
		}
	}
	.entry{
		background-color: darken(@white, 10%);
		padding: 12px 8px;
		font-size: 12px;
	}
}
/////contact pages || request a quote
form.contact-form{
	input, textarea{
		width: 100%;
		min-height: 40px;
		border: none;
		resize: none;
		&::-moz-placeholder{
			  font-weight: bold;
		}
		&::-webkit-placeholder{
		  font-weight: bold;
	  }
		&:focus{
			border-color: none;box-shadow: none;
			outline: none;
		}
	}
	input[type="text"]{
		border-bottom: 1px solid @border-color;
	}
	input[type="submit"]{
		background-color: @primary;
		color: @white;
		font-weight: bold;
	}
}
////gallery{
.gallery{
	.gallery-item{
		display: inline-block;
		float: left;
		.gallery-icon{
			padding: 5px;
			img{
				.transition(all .3s);
				&:hover{
					.opacity(.8);
					.transition(all .3s);
				}
			}
		}
	}
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: fade(@black, 85%);
	z-index: 99999;
	line-height: 100%;
	vertical-align: middle;
	text-align: center;
	.transition(all .3s);
	img{
		max-width: 75%;
		height: auto;
		margin: 40px;
		.transition(all .3s);
	}
}
///news post
.single-format-gallery{
	.flexslider{
		margin-bottom: 30px;
	}
}
.page-template-news-php{
	.entry{
		padding-bottom: .8em;
		border-bottom: 1px solid @border-color;
		.post-content{
			display: inline-block;
			//float: left;
			//width: 74%;
			//padding-left: 10px;
			h2{
				margin-top: 5px;
			}
		}
	}
	.new-img{
		display: inline-block;
		float: left;
		padding-top: 10px;
		img{
			max-width: 100% !important;
		}
	}
}
.news-post{
	
	h2{
		font-size: 1.3em;
		display: inline-block;
		a{
			color: @baseColor;
			&:hover{
				color: fade(@baseColor, 70%);
			}
		}
	}
}
/******************************************************************************************************************** 
*
*	404 Page  
*
*********************************************************************************************************************/
.error404{
	.container-fluid{
		overflow: visible;
	}
	.error-404{
		min-height: 100% !important;
		display: block;
		text-align: center;
		padding: 10px;
		background: #b7e6e3 url("@{images}404-bg.png") repeat-x;
		background-position: left top;
		color: @white;
		overflow: visible;
		.text-404{
			font-size: 4em;
			text-align: right;
			font-weight: bold;
			margin-bottom: 13%;
		}
		.page-title{
			font-size: 28px;
		}
		.page-content{
			padding-bottom: 8%;
		}
	}
	//form
#search{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 37rem;
	form{
		width: auto;
		input[type="search"]{
			.border-radius(100px);
			border: none;
			width: 90%;
			font-weight: 400;
			background-color: fade(@black, 13%);
			padding: .6em 1.2em;
			color: @white;
			&:focus{
				outline: none;
			}
		}
		input::-webkit-input-placeholder {
			color: fade(@black, 25%);
		}
		
		input:-moz-placeholder {
			color: fade(@black, 25%);
		}
		
		input::-moz-placeholder {
			color: fade(@black, 25%);
		}
		
		input:-ms-input-placeholder {
			color: fade(@black, 25%);
		}
		.icon.sb-icon-search{
		  top: 5px !important;
		  right: 12px !important;
		  color: @white;
		} 
		.search-submit{
			background-color: transparent;
			.opacity(0);
			color: transparent;
			border: none;
			outline: none;
			z-index: -1;
			width: 40px;
			height: 30px;
			display: block;
			position: absolute;
		}
	}
}
}//404 end
//search results
.result{
	li{
		border-bottom: 1px solid @border-color;
		a{
			color: @baseColor;
			.transition(color .3s);
			&:hover{
				color: darken(@white, 45%);
				.transition(color .3s);
			}
		}
	}
}
/////media slides
#media-slide{
	overflow: hidden !important;
	.media-slides{
		margin: 0;
		padding: 0;
		overflow: hidden !important;
		li{
			padding: 0;
			margin: 0;
		}
	}
}
/******************************************************************************************************************** 
*
*	WORK  
*
*********************************************************************************************************************/
#work{
	li{
		float: left;
		margin-bottom: 10px;
		a.gallery{
			background-color: @black;
			display: block;
			.transition(background-color .3s);
			img{
				&:hover{
					.opacity(.5);
					.transition(opacity .3s);
				}
			}
			.title{
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				line-height: 100%;
				text-align: center;
				margin-top: 30%;
				width: 100%;
				font-size: 12px;
				color: @white;
				padding: 5px 10px;
				font-weight: bold;
				vertical-align: middle;
				.transition(all .3s);
			}
			&:hover{
				.title{
					display: inline-block;
					.transition(all .3s);
				}
			}
		}
	}
}
/******************************************************************************************************************** 
*
*	lightbox  
*
*********************************************************************************************************************/

.featherlight .featherlight-content{
	margin-left: 17%;
	margin-right: 17%;
	background-color: transparent;
}
.featherlight .featherlight-image{
	margin: auto;
	max-width: 90%; 
}
.featherlight .featherlight-close-icon{
	font-size: 40px;
	width: 40px;
	line-height: 40px;
	top: 25px;
	right: 70px;
	color: @white;
	background-color: transparent;
}
.featherlight-next, .featherlight-previous{
	background-color: transparent;
	background: rgba(255,255,255,.0) !important;
}
.featherlight-previous{
	right: 92%;
}
.featherlight-next{
	left: 92%;
}
.featherlight-next span{
	width: 20px;
	font-size: 0;
	right: 20%;
	background-image: url("@{images}arrow.png");
	background-repeat: no-repeat;
	background-position-x: -20px;
} 
.featherlight-previous span{
	width: 20px;
	font-size: 0;
	left: 20%;
	background-image: url("@{images}arrow.png");
	background-repeat: no-repeat;
	background-position-x: 0px;
}
/******************************************************************************************************************** 
*
*	smart grid  
*
*********************************************************************************************************************/
.page-template-home-smart-grid-php{
	#twitter{
		height: 266px;
		max-height: 266px;
	}
	.social{
		position: absolute;
	}
	.slides{
		li{
			
		}
		h2{
			position: absolute;
			font-size: 3em;
			line-height: 1;
			padding-left: 3%;
			color: @white;
			a{
				color: @white;
				&:hover{
					color: @white;
				}
				.arrow{
					width: 50px;
					height: 50px;
					display: inline-block;
					margin-left: 15px;
					margin-bottom: -8px;
					#Layer_1{
						width: 50px;
						height: 50px;
						path{
							width: 40px !important;
							height: 40px !important;
						}
					}
				}
			}
		}
	}
	
}
/******************************************************************************************************************** 
*
*	FOOTER  
*
*********************************************************************************************************************/
#footer{
	border-top: 10px solid @white;
	height: 40px;
	background-color: @white;
	width: 100%;
	font-size: 11px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	.transition(left .3s ease);
	footer{
		border-top: 1px solid @border-color;
	}
	p.site-info{
		margin: .578em 0 0 0;
		padding: 0;
		font-size: 10px;
		color: fade(black, 20%);
	}
}
#slider .flex-control-nav, 
.media-slides .flex-control-nav.flex-control-paging{ 
	li{ 
		margin: 0 3px !important; 
	} 
}