/******************************************************************************************************************** 
*
*	small than 480px  
*
*********************************************************************************************************************/
@media all and(max-width: 767px){
	body{
		padding-top: 120px;
	}
	body.home{
		padding-top: 75px !important;
	}
	.site-info{
		.none{
			display: none;
		}
		.mobile-only{
			display: inline-block;
		}
	}
	body.menu-active{padding-top: 75px;}
	.container-fluid{
		margin-left: 0px;
		margin-right: 0px;
	}
	.flexslider svg#Layer_1{
		width: 26px;
		height: 26px;
		margin-bottom: -4px !important;
	}
	#left-container .flexslider h2{
		padding-top: 25%;
	}
	#search{
	max-width: 80% !important;
	}
	.error404 #search form .icon.sb-icon-search{
		right: 0px;
	}
	.tile .tile-link .overlay-container .tile-title{
		font-size: 18px !important;
	}
	.sb-search.sb-search-open, .no-js .sb-search{
		width: 56%;
	}
	.sb-search-input{
		width: 85%;
	}
	/////close nav icon
	nav#slide-menu{
		.close-nav{
			top:23px;
		}
		> ul{
			margin-top: 46px;
		}
	}
	.post-title{
		padding-top: 5px;
	}
	//specs nav
	#spec-nav{
		float: none !important;
	}
	.small-float-r{
		float: none !important;
		clear: both;
	}
	.page-header{
		border-bottom: 1px solid @border-color;
		display: block;
		clear: both;
	}
	///////breadcrumbs 
	
.breadcrumbs-wrap{
	top: 48px;
	#crumbs{
		min-height: 30px;
		height: auto;
		overflow: hidden;
		padding-top: 10px;
		a{
			margin-left: -3px;
			margin-right: 0;
			margin-bottom: 10px;
			display: inline-block;
			white-space: nowrap;
			.transition(all .3s);
			&:first-child{
				margin-left: 0;
				z-index: 1;
				height: 35px;
				&::after{
					z-index: 9;
					left: 100%;
					border-width: 11px !important;
					margin-top: -11px !important;
				}
				&::before{
					left: 100% !important;
					z-index: 9;
					border-width: 13px;
					margin-top: -13px;
				}
			}
		}
		.current{
			white-space: nowrap;
			//margin-top: 10px;
			margin-left: -5px;
			margin-bottom: 8px;
			display: inline-block;
			&::after{
				left: 100% !important;
				border-width: 13px;
				margin-top: -13px;
			}
			&::before{
				left: 100% !important;
			}
		}
	}
}
	/////
	//line bodrer
	.line-v{
		display: none !important;
	}
	///make header small
	#site-brand{
		header{
			.navbar-header{
				#brand{
					margin-top: 12px !important;
				}
				.search{
					margin-top: 21px !important;
				}
				.navbar-toggle{
					margin-top: 10px;
					height: 33px;
				}
			}
		}
	}
///////slider
#slider ul h2{
	font-size: 4.6em;
	font-size: 9.6vw;
}
#slider .tp-banner ul h2 a .arrow svg, 
#slider ul h1 a .arrow svg, 
#slider .tp-banner ul .tp-caption a .arrow svg,
#slider a .arrow svg{
		height: 40px !important;
		width: 40px !important;
}
a .arrow{
	line-height: 1 !important;
}
////people
#people .person a .person-info .name{
	line-height: 1;
	padding-top: 29%;
}
//////////////////////////office
.office-wrap{
	ul{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	li{
		float: left;
		display: table;
		height: 30px;
		line-height: 30px;
	}
	.city{
		font-size: 16px;
		display: block;
	}
	.address{
		display: block;
		p{
			line-height: 1.3;
			line-height: 30px;
			vertical-align: middle;
		}
	}
	.phone-num{
		vertical-align: middle !important;
		.icon-phone{
			font-size: 1.8em;
			margin-top: -10px;
			line-height: 30px;
		}
	}
	.fax-num{
		&::before{
			font-size: 1.8em;
			vertical-align: middle;
		}
	}
	.contact{
		font-size: 1.8em;
	}
}
////////////////////////////
	//col-sidebar
	.col-sidebar, .page{
		margin-right: 0 !important;
		padding-right: 2px !important;
		margin-bottom: 10px;
	}
	////overwrite
.page-template-default, .page-template-print-php, .tax-city, .post-type-archive-material, .single-people, .page-template-people-php, .page-template-ask-php, .page-template-office-php, .page-template-media-php, .page-template-page-faq-php, .page-template-contact-php, .page-template-people-city, .page-template-materials-php
	{
		.col-sidebar, .page-content{
			margin-right: 0px;
		}
	}
	.button.back{
		left: 10px !important;
	}
	////////////
	#specs li a, #specs .spec-file a{
		display: table-cell;
		line-height: 1.1;
	}
	#specs li .icon.icon-download{
		float: right;
	}
	////////////
}
/******************************************************************************************************************** 
*
*	tablet size   
*
*********************************************************************************************************************/
@media all and(min-width: 768px){
	.tile .tile-link .overlay-container .tile-title{
		font-size: 120%;
	}
	.flexslider svg#Layer_1{
		width: 52px;
		height: 52px;
	}
}
/******************************************************************************************************************** 
*
*	desktop size 
*
*********************************************************************************************************************/
@media all and(min-width: 980px){
	.tile .tile-link .overlay-container .tile-title{
		font-size: 160%;
	}
	.flexslider svg#Layer_1{
		width: 75px;
		height: 75px;
	}
	///news fixed the sidebar
}

/******************************************************************************************************************** 
*
*	ipad portrait mode size 
*
*********************************************************************************************************************/
@media all and(max-width: 900px){
	.hentry.tile.col-lg-3.col-md-3.col-sm-3{
		width: 50%;
	}
}

/********** overwites **/
#slider .tp-banner ul h2, #slider .flexslider ul h2, #slider .tp-banner .slides h2, #slider .flexslider .slides h2, #slider .tp-banner ul h1, #slider .flexslider ul h1, #slider .tp-banner .slides h1, #slider .flexslider .slides h1, #slider .tp-banner ul .tp-caption, #slider .flexslider ul .tp-caption, #slider .tp-banner .slides .tp-caption, #slider .flexslider .slides .tp-caption{
	bottom: 10%;
}
.new-img img, .page-template-news-php .new-img img{
	max-width: 100% !important;
}
.single-resources{
	padding: 0 !important;
	padding-bottom: 0 !important;
	
	#site-brand{
		.opacity(.5);
	}
	.breadcrumbs-wrap{
		display: none;
		*{
			.opacity(0);
		}
	}
}