nav#slide-menu {
	background-color: @mid-grey;
	position: fixed;
	top: 0;
	right: -240px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 240px;
	height: 100%;
	min-height: 100%;
	z-index: 99999;
	.transition(all .3s ease);
	.nav-title{
		color: transparent;
	}
#menu-item-1758 a{
	text-transform: uppercase;
}
	///////////////////////////////////////////
	///close nav
	.close-nav{
		width: 30px;
		height: 30px;
		margin-bottom: 10px;
		position: absolute;
		right: 20px;
		&::after{
			content: '';
		}
		
		button.menu-trigger-close{
			width: 100%;
			height: 100%;
			background-color: transparent;
			border: none;
			margin: 0;
			padding: 0;
			&:focus{
			box-shadow: none;
			outline: none;
		}
			&:hover{
				.transition(fill .3s);
				svg{
					path{
						fill: @primary;
						.transition(fill .3s);
					}
				}
			}
			svg{
				path{
					fill: darken(@white, 70%);
					.transition(fill .3s);
				}
			}
		}
	}
	///////
	> ul {
		display: block;
		padding: 0;
		margin: 60px 0 0 0;
		list-style: none;
		opacity: 0.5;
		.transition(all .3s);

		li, .menu-item {			
			font-size: 1em;
			padding: 0 0;
			cursor: pointer;
			padding-left: 20px;
			padding-right: 20px;
			text-transform: lowercase;
			border-left: 5px solid transparent;
			.transition(all .3s ease);
			&:hover{
				border-color: @primary;
				.transition(all .3s ease);
			}
			&.left-border{
				border-left: 5px solid @primary;
				> a{color: @white;}
			}
			&:last-child{
				padding-bottom: 0;
				a{
					border-bottom: 1px solid @light-text;
					padding-bottom: 15px;
					&.submenu-open{
						border-bottom: none;
						~ .dropdown-menu{
						border-bottom: 1px solid @light-text;
						overflow: hidden;
						}
					}	
				}
			}
			a{
				color: @light-text; font-weight: bold;
				padding: 12px 15px 12px 0px; display: block;
				position: relative; .transition(color .3s ease);
				border-top: 1px solid @light-text;
				&:hover { 
					color: @white; 
					background-color: transparent;
					.transition(color .5s ease);
					~ ul, ~ .dropdown-menu{
						background-color: transparent;
						position: relative;
					}
				}
				.icon{
					font-size: 24px;vertical-align: top;float: left; margin-top: -10px;margin-right: 10px; display: inline; width: 32px; text-align: center;
					&.icon-brand{
						vertical-align: bottom; margin-top: -4px; clear: both;
					}
					&.icon-truck{font-size: 33px;margin-top: -10px;}
					&.icon-map{font-size: 34px;}
					&.icon-paper{font-size: 26px; margin-top: -5px;}
					&.icon-setting{font-size: 26px;margin-top: -8px;margin-right: 12px;}
					&.icon-social{font-size: 32px;margin-top: -8px;}
					&.icon-market{font-size: 32px;margin-top: -8px;}
					&.icon-contact{font-size: 30px;}
					&.icon-contact-flash{font-size: 26px; margin-top: -6px;}
					&.icon-office{font-size: 30px; margin-top: -9px;}
					&.icon-resources{margin-top: -4px;}
				}
				~ ul, ~ .dropdown-menu{ padding: 0;margin: 0;
					li{ padding: 0;
						&:hover{
							border-color: transparent;
						}
						a{border-top: none; font-size: 12px; border: none; padding: 3px 0;}
					}
				}
				&.submenu-open{
					display: block;
					~ul, .dropdown-menu{padding: 0 0 0 0px; margin: 0;
						padding-left: 42px;
						li{margin-top: 0;
							a{
								padding-top: 5px;
								padding-bottom: 5px;
								&:first-child{
									padding-top: 0;
								}
							}
							&:last-child{
								a{
									padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
			
			/// menu item has children add plus sign
			&.menu-item-has-children{
				.caret{
					border: none;
					&::after{
						content: '+';
						position: absolute;
						right: 10px;
						top: -3px;
						line-height: 47px;
						vertical-align: middle;
						font-size: 20px;
						font-weight: 400;
						display: block;
						width: 15px;
						height: 100%;
					}
				}
				//submenu-open
				a.submenu-open{
					border-bottom: none;
					.caret{
						&::after{
							content: '–';
						}
					}
					~ ul{
						//border-bottom: 1px solid @light-text;
					}
				}
			}
		}

		li:before {
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block;
			text-align: center;
			font-variant: normal;
		}
	}
}
nav#slide-menu>ul li a~ul, nav#slide-menu>ul .menu-item a~ul, nav#slide-menu>ul li a~.dropdown-menu, nav#slide-menu>ul .menu-item a~.dropdown-menu{
	margin-left: 42px;
}
///////////////
body.menu-active nav#slide-menu { right: 0px; }
body.menu-active nav#slide-menu ul { right: 0px; opacity: 1; }
body.menu-active #wrap{ 
	overflow: hidden; position: fixed; min-height: 100%;
}
/*
  Content
*/
div#wrap {
	position: relative;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.transition(left .3s ease);
}
.wrap{
	.transition(all .3s ease);
}
body.error404, body.error404.menu-active,
body.home, body.home.menu-active{
	padding-top: 90px;
}
body{ padding-top: 130px; }
body.menu-active{padding-top: 130px;}

body.menu-active div.wrap#wrap,
body.menu-active .breadcrumbs-wrap, 
body.menu-active #site-brand, 
body.menu-active #footer{ left: -240px; .transition(all .3s ease);}
body.menu-active div.wrap .menu-trigger { left: 0; .transition(left .3s ease);}

// !!SIDEBAR NAV SYSTEM
.sub-nav{
	li{
		list-style: none;
	}
	ul{
	  > li{
			height: auto;
			line-height: 40px;
			vertical-align: middle;
			border-bottom: 1px solid @border-color;
			&.current-menu-item{
				a{
					color: @baseColor;
				}
			}
			a{
				display: block;
				font-size: 1.2em;
				font-weight: bold;
				color: @extra-light-grey;
				&:hover{
					color: @baseColor;
				}
				&.submenu-open{
					color: @baseColor;
					text-decoration: none;
					.caret{
					&::after{
						content: '–';
					}
				}
					
				}
				.icon{
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 24px;
					vertical-align: middle;
					margin-right: 7px;
					display: inline-block;
					&.icon-truck{ font-size: 34px; margin-bottom: -5px;}
					&.icon-plane{ margin-bottom: -5px;}
					&.icon-media{ font-size: 32px; margin-bottom: -4px;}
					&.icon-star{ font-size: 28px; margin-bottom: -5px;}
				}
				.caret{
					border: none;
					line-height: 24px;
					height: 24;
					vertical-align: middle;
					&::after{
						content: '+';
						line-height: 40px;
						vertical-align: middle;
						width: 10px;
						height: 40px;
						font-size: 20px;
						font-weight: 400;
						position: absolute;
						right: 10px;
						top:0;
						.transition(color .3s);
					}
				}
				~ ul, .dropdown-menu{
					padding-left: 25px;
					background-color:@light-bg;
					li{
						border-bottom: none;
						height: 25px;
						line-height: 1;
						&.current-menu-item, &.current_page_item, &.current-menu-parent{
							a{
								color: @baseColor !important;
							}
						}
						a{
							line-height: 1;
							color: @light-text;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
////////privacy menu
#privacy-menu{
	ul, .nav.privacy{
		width: auto;
		float: right;
		li{
			display: inline !important;
			float: left;
			padding: 0;
			margin: 0;
			line-height: 1;
			padding-top: .6367em;
			a{
				color: fade(black, 20%);
				display: inline-block;
				font-size: 10px;
				padding: .1456em .6em;
				text-align: right;
				line-height: 1;
				text-transform: capitalize;
				text-align: right;
				.transition(color .3s);
				&:hover{
					color: fade(@black, 40%);
					.transition(color .3s);
				}
				border-right: 1px solid fade(black, 15%);
				&[title="contact"], &[title="social"]{
					color: @light-text;
					&:hover{
						color: @primary;
					}
				}
				
				&[title="social"]{
					.caret{
						border-bottom: 4px solid;
						border-right: 4px solid transparent;
						border-left: 4px solid transparent;
						vertical-align: middle;
						border-top: none;
					}
					&.submenu-open{
						.caret{
							border-top: 4px solid;
							border-right: 4px solid transparent;
							border-left: 4px solid transparent;
							border-bottom: none;
						}
						~ ul.dropdown-menu{
							display: block;
							.opacity(1);
							.transition(all .3s);
							&:hover{
								display: block;
							}
						}
					}
				}

				&[title="social"] ~ ul.dropdown-menu{
					display: inline-block !important;
					max-width: 55px !important;
					min-width: 55px !important;
					width: 55px;
					height: auto;
					position: absolute;
					top: -183px;
					background-color: @white;
					z-index: 9;
					overflow: hidden;
					border: 1px solid @border-color;
					border-bottom: none;
					padding: 5px 0;
					.opacity(0);
					.transition(all .3s);
					
					li{
						display: block !important;
						padding-top: 0;
						overflow: hidden;
						background-color: @white;
						float: none !important;
						clear: both;
						max-width: 40px;
						height: 40px;
						margin: 0 auto;
						border-bottom: 1px solid @border-color;
						&:last-child{
								border-bottom: none;
							}
						a{
							border-right: none;
							font-size: 0px;
							display: block;
							clear: both;
							margin-top: 8px;
							padding-bottom: 8px;
							
							.glyphicon{
								background: url("@{images}social_icons.svg") no-repeat;
								display: block;
								width: 26px;
								height: 40px;
								margin: auto;
								
								&.twitter{
									background-position-x: -25px;
								}
								&.linkedin{
									background-position-x: -50px;
								}
								&.google-plus{
									background-position-x: -76px;
								}
								
							}
							.facebook{
								display: block;
							}
							
						}
					}
				}
			}
			&:last-child{
				a{
					border-right: none;
				}
			}
			&:last-child{
				a{
					padding-right: 0;
				}
			}
		}
	}
}
#menu-market li.menu-item a{
	text-transform: lowercase;
}
