#sb-search{
	margin-right: -10px;
}
.sb-search {
	position: relative;
	margin-top: 10px;
	margin-right: 0;
	width: 0%;
	min-width: 25px;
	height: 25px;
	color: fade(black, 30%);
	float: right;
	overflow: hidden;
	.transition(width .3s ease);
	.border-radius(50px);
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 45%;
	height: 25px;
	margin: 0;
	z-index: 10;
	padding: 0 15px 0 10px;
	font-size: 11px;
	color: @black;
	.border-radius(50px);
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.sb-search-input::-webkit-input-placeholder {
	color: @white;
}

.sb-search-input:-moz-placeholder {
	color: @white;
}

.sb-search-input::-moz-placeholder {
	color: @white;
}

.sb-search-input:-ms-input-placeholder {
	color: @white;
}

.sb-icon-search,
.sb-search-submit  {
	width: 30px;
	height: 25px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: black;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	z-index: 90;
	color: fade(@black, 20%);
	font-size: 21px;
	font-family: "titan-mini" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	.transition(font-size .3s ease);
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 45%;
}
.sb-search.sb-search-open .sb-search-input{
	background-color: fade(@black, 20%);
}
.sb-search.sb-search-open .sb-icon-search{
	font-size: 17px;
	.transition(font-size .3s ease);
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
