/******************************************************************************************************************** 
*
*	HOME - SMART GRID
*
*********************************************************************************************************************/
.grid-sizer {
		width: 1%;
}
#isotope-container {
	
	.grid-sizer {
		width: 1%;
	}
	
	.square-video {
		margin: 0 0 4px;
	}
	
	.square-video video {
		// still not working. This will expand the video to fill square box
		position: relative;
		top: 0px; 
		right: 0%; 
		min-width: 100%; 
		min-height: 100%; 
		width: auto; 
		height: auto; 
		overflow: hidden;
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
	}
	
	.group-tile {
		margin: 0;
		
		.inner-tile {
			margin: 0 0 10px;
		}
	}
	
	@media (min-width:768px){
	
		.col-md-1 {
			width: 8.2%;
		}
	
		.col-md-2 {
			width: 16.66%;
		}
	
		.col-md-3 {
			width: 25%;
		}
	
		.col-md-4 {
			width: 33%;
		}
	
		.col-md-5 {
			width: 42%;
		}
	
		.col-md-6 {
			width: 50%;
		}
	
		.col-md-7 {
			width: 58.2%;
		}
	
		.col-md-8 {
			width: 66%;
		}
	
		.col-md-9 {
			width: 75%;
		}
	
		.col-md-10 {
			width: 83.1%;
		}
	
		.col-md-11 {
			width: 91.4%;
		}
	
		.col-md-12 {
			width: 100%;
		}
	}
	
	@media (max-width:767px){
	
		.tile-2 {
			width: 43%;
		}
		
		.tile-3 {
			width: 57%;
		}
	}
	
}

