/*
*
* load all css/less here
*
*/
@import 'bootstrap.less';
@import 'flexslider.less';
@import 'variables.less';
@import 'typography.less';
@import 'wp.less';
@import 'icons.less';
@import 'utility.less';
@import 'searchui.less';
@import 'nav.less';
@import 'breadcrumbs.less';
@import 'homevideo.less';
@import 'featherlight.min.less';
@import 'featherlight.gallery.min.less';
@import 'layout.less';
@import 'media.less';

@titan: @primary;

/* SIDEBAR NAV */

/* @group GLOBAL */
a{
	text-decoration: none;
}
/* @end */

/* @group SIDE BAR */

    .col-sidebar {
		 .panel,
		 .sub-menu,
		 .children {
		 	padding: 10px 10px 0 10px;
		 	//background-color: lighten(@black, 90%);
		 	position: relative;
		 	//top: 12px;
		 	display: none;
		 }

		a {
			display: block;
			text-decoration: none;
			.transition(color .3s);
		}

    	.current_page_parent > a,
    	.current_page_item > a {
    		color: lighten(@black, 25%) !important;
    	}

    	> ul > li {
  			&:extend(.list li);
    		position: relative;

    		&:first-child {
	    		border-top: 1px solid lighten(@black, 65%);
    		}

    		> a {
    			font-size: 1.625rem; /*26px*/
    			position: relative;
    			z-index: 999;
    		}

    		&.up > a {
	    		color: lighten(@black, 15%);
    		}

    		&.current-page-parent:hover,
    		&.page_item_has_children:hover {

    			> a,
    			&:after {
		    		color: lighten(@black, 15%);
    			}

    		}

    		&.current-page-parent::after,
    		&.page_item_has_children::after {
	    		color: lighten(@black, 65%);
    			position: absolute;
    			.transition(color .3s);
    		}

    		&.current-page-parent:not(.up)::after,
    		&.page_item_has_children:not(.up)::after {
    			font-size: 130% !important;
    			content: "+";
    			top: 6px;
    			right: 10px;
    		}

    		&.page_item_has_children.up::after {
	    		color: lighten(@black, 15%);
    			content: "–";
    			top: 13px;
    			right: 11px;
    		}
    	}

    	.back.button {
    		font-size: 1.625rem; /*26px*/
    		color: lighten(@titan, 15%);
    		margin-top: 30px;
    		.transition(color .3s);
    		&:hover {
    			color: @titan !important;
    		}
    	}

    }
/* @end */

/* @group PEOPLE */
    ul {

    	&.titan-thumbs {

    		li {
    			padding-bottom: 10px;
    			position: relative;
    			overflow: hidden;
    		}

			.overlay {
				color: #fff !important;
				text-align: center;
				font-weight: bold;
				opacity: 0;
				background-color: rgba(0, 0, 0, .5);
				padding: 10px;
				position: absolute;
				top: 0;
				right: 5px;
				bottom: 10px;
				left: 5px;
				.transition(color .3s);

				display: n;

				&:hover {
					opacity: 1;
				}

				> div {
					width: 100%;
					height: 100%;
					display: table;
				}

				.inner {
					display: table-cell;
					vertical-align: middle;

					div:first-child {
						padding-bottom: 5px;
						margin-bottom: 5px;
						border-bottom: 2px solid fade(@white, 50%);
					}
				}

			}/*END*/

    	}/*END*/
    }
/* @end */

/* @group CAREERS */


/* @end */

.featherlight{
	z-index: 99999 !important;
	.featherlight-content{
		overflow: hidden;
	}
}
/////share
.share{
	text-align: left;
	padding-top: 2em;
	a{
		img{
			max-width: 100% !important;
			width: auto;
		}
	}
}