/******************************************************************************************************************** 
*
*	HOME - SUPER GRID 'Juan's Version'  
*
*********************************************************************************************************************/
#super-grid{
	.page{
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
		&.item{
			float: left;
		}
		.link{
			overflow: hidden;
			height: 100%;
			a{
				display: block;
				overflow: hidden;
				text-shadow: 2px 1px 1px darken(@extra-light-grey, 30%);
				font-size: 36px;
				font-weight: bold;
				color: @white;
				text-align: center;
				vertical-align: middle;
			}
		}
		.title{
			display: block;
			z-index: 99;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			height: 100%;
			line-height: 300px;
			position: absolute;
			span{
				position: inherit;
				top: 45%;
				text-indent: -3%;
				font-size: 3em;
				font-weight: bold;
				color: @white;
			}
		}
	}
}
