/******************************************************************************************************************** 
*
*	GLOBAL STYLE  
*
*********************************************************************************************************************/
html{
	min-height: 100%;
	position: relative;
}
body{
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: @brand-font !important;
	padding-bottom: 30px;
	color: @baseColor;
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: inherit;
}
.container-fluid{
	margin-left: 30px;
	margin-right: 30px;
}
section, header, aside, nav, article, canvas, hgroup{
	display: block;
}
ul, ol, dl,{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
	width: 100%;
}
a{
	color: @primary;
	text-decoration: none;
	&:visited, &:focus, &:hover{
		text-decoration: none;
		outline: none;
	}
}
a:hover{
	text-decoration: none;
	color: @baseColor;
	.transition(color .3s);
}
.section-push{
	position: relative;
}
.page-child .page-content .entry ul li{
	list-style:disc;
}
/******************************************************************************************************************** 
*
*	HELPING CLASSES  
*
*********************************************************************************************************************/
.margin-b{
	margin-bottom: @margin-space;
}
.text-indent{
	text-indent: -9999px;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.hide-text{
	text-indent: -999px;
	height: 1px;
	overflow: hidden;
}
.tile{
	font-size: 1.5em;
}
.line-v{
	background-color: @border-color;
	background-image: url("@{images}div-line.png");
	background-repeat: repeat-y;
	//height: 840px;
	margin-right: 5px;
	height: 100%;
	//min-height: 835px;
	height: 100%;
	float: right;
	width: 1px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	overflow: visible;
}
.subtitle{
	color: @white;
	position: absolute;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	line-height: 1;
	p{
		margin: 0;
		padding: 0;
		font-size: 3em !important;
		font-size: 3vw !important;
	}
}
.page-intro{
	border-bottom: 1px solid @border-color;
	margin-bottom: 10px;
	.sub-title{
		font-size: 44px;
		line-height: 1;
		text-align: left;
		padding: 0;
		margin-top: 0;
		p{
			margin: 10px 0;
		}
	}
}
.post-title{
	margin: 0 0;
	color: @baseColor;
	text-transform: lowercase;
	border-bottom: 1px solid @border-color;
	padding-bottom: 40px;
	line-height: 1.2;
}
.entry-title{
	padding-bottom: 40px;
	border-bottom: 1px solid @border-color;
}
.entry{
	p{
		font-size: 12px;
	}
}
.page-template-news-php,.news{
	.title{
		padding-bottom: 10px !important; 
		h1{
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	}
	.news-subtitle{
		border-top: 1px solid @border-color;
		padding-top: 10px;
		color: @light-text;
	}
}
.bio{
	font-size: 12px;
	background-color: @light-bg;
}
.title{
	h1, h2, h3{
		margin: 0;
		line-height: 1.1;
	}
}
.home .button.back{
	display: none;
}
//collaper amd content conllaosed
.tab.accordion{
	border-bottom: 1px solid @border-color;
  .collapser{
    position: relative;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    border-top: 1px solid @border-color;
    &:first-child{
	    border-top: none;
    }
    &::after{
      font-weight: 400;
      font-size: 20px;
      content: '+';
      position: absolute;
      right: 10px;
      //top: 50%;
    }
    &.close{
	    
      &::after{
        content: '+';
        
      }
    }
  }
  .collapse-content{
	  color: fade(@baseColor, 85%);
	  ul{
	  	padding-left: 1em;
	  	li{
	  		list-style: bullet !important;
	  	}
	  }
	  a{
		  display: inline;
	  }
	  &.bio{
		  background-color: fade(@light-bg, 50%);
	  }
	  padding: 10px;
	  line-height: 1.6;
  }
}
//accordion
//collapser ui-accordion-header ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top
.collapser{
	&:focus{
		outline: 0;
		-moz-outline: 0;
	}
	&.ui-state-active{
		&::after{
        content: '–' !important;
        
      }
	}
}
.single .post img, .single-people .people img{
	text-align: center;
	margin: auto;
	width: 100%;
}
.mythumbnail{
	padding-bottom: 20px;
}
/******************************************************************************************************************** 
*
*	slider flex fixes  
*
*********************************************************************************************************************/
#slider{
	.flexslider{
		.flex-control-nav.flex-control-paging{
			li{
				a{
					&.flex-active, &:hover, &.flex-active::before, &.flex-active::after {
						background-color: @white;
					}
					&.flex-active::before, &.flex-active::after {
						z-index: 99;
					}
				}
			}
		}
	}
}
.video-post{
	position: relative;
	h2{
		position: absolute;
		height: 100% !important;
		width: 100%;
		margin: 0;
		a{
			font-size: 8.6em;
			font-size: 8.6vw;
			text-transform: lowercase;
			color: @white;
			padding-left: 2rem;
			display: table-cell;
			vertical-align: middle;
			min-height: 100%;height: 100%;
			min-width: 100%;width: 100%;
		}
	}
}
.page-template-specs-php,
.single-post,
.page-template-news-php,
.page-template-ask-php,
.page-gal,
.page-template-video-php,
.search-results, 
.archive, 
.post-type-archive-titan_prod_specs, 
.post-type-archive-people, 
.page-template-print-php,  
.post-type-archive-material, 
.single-people, 
.page-template-people-php, 
.page-template-ask-php, 
.page-template-office-php, 
.page-template-media-php, 
.page-template-page-faq-php, 
.page-template-contact-php, 
.page-template-materials-php,
.page-template-people-city-php,
.page-template-our-philosophy,
.page-template-page-overview{
	.col-sidebar, .page-content{
		margin-right: 10px;
	}
}
//////kill the line
/*
.page-template-our-philosophy{
	.post-title{
		border-bottom: none !important;
	}
}
*/
.single-titan_prod_specs,
.page-template-company-php,
.search-results, 
.post-type-archive-titan_prod_specs{
	.col-sidebar, .page-content{
		padding-right: 15px;
	}
}
//video iframe
.resources{	
		h1{
			position: absolute;
			color: @primary;
		}
}
#material{ 
	.name{
		line-height: 1.2 !important;
		position: relative;
		.transition(all .3s);
		span.icon{
			position: absolute;
			right: 5px;
			bottom: 0;
			font-size: 1.269em;
			.transition(all .3s);
		}
	}
}
////prod specs
.page_item_has_children.current_page_ancestor.current_page_parent{
	ul{
		display: block !important;
	}
}

.entry{
	&.flexslider{
		.flex-control-nav.flex-control-paging{
			li{
				margin-left: 3px;
				margin-right: 3px;
			}
		}
	}
}
///single news 
.single .entry-content{
	padding-bottom: 20px;
}
//contact
.page-template-ask-php{
	::-webkit-input-placeholder {
    font-weight: bold;
	}
	:-moz-placeholder {
	    font-weight: bold;
	}
	:-ms-input-placeholder {
	    font-weight: bold;
	}
	.wpcf7-form textarea{
		max-height: 430px;
	}
	input[type="submit"]{
		font-weight: bold;
		font-size: 14px;
	}
	img.ajax-loader{
		max-width: 16px;
		max-height: 16px;
	}
}
//opening nav
.opening-nav{
	ul{
		li{
			a{
				span{
					float: right;
					height: 40px; line-height: 40px;
					vertical-align: middle;
					padding-top: 3px;
					padding-right: 6px;
				}
				&:hover{
					svg{
						path{
							fill: @baseColor;
							.transition(all .3s);
						}
					}
				}
			}
		}
	}
}
.wpcf7-captchac{
	max-width: 100%;
	width: 75px !important;
}